[Unit]
Description=Hat.sh: encrypt and decrypt files securely
After=network.target

[Service]
Type=simple
User=__APP__
Group=__APP__
Environment=NODE_PORT=__PORT__
WorkingDirectory=__INSTALL_DIR__/
Environment="PATH=__PATH_WITH_NODEJS__"
Environment=NODE_ENV=production
ExecStart=__NODEJS_DIR__/npm run start

[Install]
WantedBy=multi-user.target
